.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.active {
  font-weight: 900;
}

#pagination {
  text-align: center;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#pagination a {
  color: white;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 0.9rem;
  border: 1px solid none;
  margin: 2px 5px;
  border-radius: 25px;
  font-family: afacad;
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  box-shadow: 2px 2px rgb(173, 139, 95);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination a:hover {
  background-color: rgb(175, 146, 95);
  color: white;
  box-shadow: 2px 2px rgrgb(150, 119, 79);
  transition: ease-in-out 0.1s;
}

.page-link {
  border-radius: 50% !important;
  background-color: #67a9a954 !important;
  color: #2b7379 !important;
  box-shadow: 2px 2px #1f555a81 !important;
}

.page-link:hover {
  background-color: #2b7379 !important;
  color: white !important;
  transition: ease-in-out 0.1s;
}

.page-link.active {
  background-color: #2b7379 !important;
  color: white !important;
  transition: ease-in-out 0.1s;
  border: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}
